@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<!-- Page transition-->
<div class="loader-wrapper">
	<span class="loader"><span class="loader-inner"></span></span>
</div>
<p>Use this page to detail your site's privacy policy.</p>
