@model PIS_projekt.Models.Korisnik

@{
    ViewData["Title"] = "ZaposlenikEdit";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form method="post" asp-action="SpremiPromjeneZaposlenik" onsubmit="return JQueryAjaxPost(this)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KorisnikId" />
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezime" class="control-label"></label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lozinka" class="control-label"></label>
                <input asp-for="Lozinka" class="form-control" />
                <span asp-validation-for="Lozinka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SklonisteFk" class="control-label"></label>
                <select asp-for="SklonisteFk" class="form-control" asp-items="ViewBag.Sklonista">
                    <option disabled selected value="">Izaberite sklonište</option>
                </select>
                <span asp-validation-for="SklonisteFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Spremi" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
