@model PIS_projekt.Models.ZivotinjaUSklonistu

@{
    ViewData["Title"] = "DodavanjeZivotinje";
    Layout = "~/Views/Shared/_LayoutZaposlenik.cshtml";
}

<h1>DodavanjeZivotinje</h1>

<h4>ZivotinjaUSklonistu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Korisnici" asp-action="DodajZivotinju" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BrojMikrocipa" class="control-label"></label>
                <input asp-for="BrojMikrocipa" class="form-control" />
                <span asp-validation-for="BrojMikrocipa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImeZivotinje" class="control-label"></label>
                <input asp-for="ImeZivotinje" class="form-control" />
                <span asp-validation-for="ImeZivotinje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasminaId" class="control-label"></label>
                <select asp-for="PasminaId" class="form-control" asp-items="ViewBag.Pasmine">
                    <option disabled selected value="">Izaberite pasminu životinje</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SpolId" class="control-label"></label>
                <select asp-for="SpolId" class="form-control" asp-items="ViewBag.Spolovi">
                    <option disabled selected value="">Izaberite spol životinje</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="KastratId" class="control-label"></label>
                <select asp-for="KastratId" class="form-control" asp-items="ViewBag.Kastrat">
                    <option disabled selected value="">Izaberite spol životinje</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="UdomljavanjeId" class="control-label"></label>
                <select asp-for="UdomljavanjeId" class="form-control" asp-items="ViewBag.Udomljavanje">
                    <option disabled selected value="">Je li životinja za udomljavanje</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DatumStenjenja" class="control-label"></label>
                <input asp-for="DatumStenjenja" class="form-control" />
                <span asp-validation-for="DatumStenjenja" class="text-danger"></span>
            </div>
            @*<div class="form-group" hidden>
                <label asp-for="Slika" class="control-label"></label>
                <input asp-for="Slika" class="form-control" type="file" accept="image/*"/>
                <span asp-validation-for="Slika" class="text-danger"></span>
            </div>*@
            <!--    Test for picture -->
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" type="file" accept="image/*"/>
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DatumPronalaska" class="control-label"></label>
                <input asp-for="DatumPronalaska" class="form-control" />
                <span asp-validation-for="DatumPronalaska" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AdresaPronalaska" class="control-label"></label>
                <input asp-for="AdresaPronalaska" class="form-control" />
                <span asp-validation-for="AdresaPronalaska" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Spremi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
